---
import { getCollection } from 'astro:content';
import Grid from "@/layouts/Grid.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import '@/css/docs.css'

const pages = await getCollection('docs');
---

<Grid>
    <nav style="display:flex;flex-direction:column;gap:.5em;">
        { pages.map(async(page) => {
            const { headings } = await page.render()
            return <TableOfContents url={`/docs/${page.slug}`} headings={headings} max={3}/>
        }) }
    </nav>
</Grid>


