.table-of-contents {
    width: 100%;
}

.table-of-contents summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    padding: .5em;
    border: none;
    border: 2px solid var(--gray);
    border-radius: 3px;
    line-height: 1;
} .table-of-contents summary:focus {
    border-color: var(--primary);
    border: 2px solid var(--primary-a);
} .table-of-contents summary::marker {
    display: none;
} ::-webkit-details-marker {
    display: none;
} .table-of-contents summary svg {
    rotate: -90deg;
    transition: transform 200ms;
}

.table-of-contents[open] summary svg {
    transform: rotate(-90deg);
}

.table-of-contents > summary + ol {
    display: flex;
    flex-direction: column;
    margin: .5em 0 0 0;
    padding: .75em 1em;
    border-radius: 3px;
    border: 2px solid var(--gray);
}

.table-of-contents ol {
    list-style: none;
    padding-left: 1em;
}

/* .table-of-contents li::before {
    content: "-";
    padding-right: .25em;
} */