body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
}

main {
    flex: 1 0 auto;
    margin: 0;
    padding: 0 .75em;
}

#sidebar-right {
    position: relative;
    display: flex;
    gap: .5em;
}

#sidebar-right > dialog {
    flex-basis: 1 0 100%;
}

#scroll-to-top {
    position: fixed;
    right: .5em;
    bottom: .5em;
    display: grid;
    place-items: center;
    padding: 0;
    border-radius: 3px;
    border: 2px solid var(--gray);
    outline: none;
    background-color: var(--light);
    transition: transform 300ms;
}

#scroll-to-top.success {
    transform: translateY(-.5em);
}

.copy-code {
    display: inline-block;
    aspect-ratio: 1;
    padding: 0;
    border-radius: 3px;
    border: var(--grayer);
    background-color: var(--gray);
    color: var(--dark);
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    position: absolute;
    right: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: .5em;
    line-height: inherit;
    font-size: var(--fluid-2);
    color: var(--gray);
}

.heading-link-icon {
    padding-left: .5em;
}