@import 'modules/base/base-content';

/* Markdown specific css must be scoped to .markdown class because of bug with Astro.glob() */

.markdown h2, h3 {
    margin-left: .6em;
}

.markdown h2 {
    padding: 0 0 .25em 0;
    border-bottom: 2px solid var(--gray);
}