#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em;
}

#logo {
    text-decoration: none;
    font-size: clamp(1.13rem, 0.56vw + 1.01rem, 1.5rem);
}

#header menu {
    display: flex;
    align-items: center;
    gap: .5em;
    margin: 0;
    padding: 0;
}

#theme-toggle {
    aspect-ratio: 1;
    padding: 0;
    border-radius: 3px;
    border: none;
    border: 2px solid var(--gray);
    background-color: transparent;
    font-size: inherit;
    color: inherit;
}

.theme-icons {
    margin-top: .25em;
}

#search-link {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    padding: 0 .75em 0 .5em;
    border-radius: 3px;
    border: 2px solid var(--primary);
}

#breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .25em;
    margin: 1em 0 1.5em 0;
}