---
import Base from "@/layouts/Base.astro";
import '@/css/styles.css';
---

<Base>
    <main style="display:grid;place-items:center;">
        <a href="/docs" style="font-size:var(--fluid-7);">To Docs</a>
    </main>
</Base>


