---
import Base from "@/layouts/Base.astro";
---

<Base>
	<link slot="head" href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    <section style="margin:1em 0;">
        <div id="search"></div>
    </section>
    <script slot="body" src="/_pagefind/pagefind-ui.js" type="text/javascript" is:inline></script>
    <script slot="body" is:inline>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ 
                element: "#search",
                resetStyles: false,
                showImages: false,
                processResult: function (result) {
                    result.meta.title = result.meta.title.replace(/</g, "&lt;").replace(/>/g, "&gt;")
                    return result;
                }
            });
        });
    </script>
</Base>


