---
import Grid from "@/layouts/Grid.astro";
import '@/css/docs.css'
---

<Grid>
	<link slot="head" href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    <div id="search" style="margin:.75em 0;"></div>
    <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
</Grid>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ 
            element: "#search",
            resetStyles: false,
            showImages: false,
            processResult: function (result: any) {
                result.meta.title = result.meta.title.replace(/</g, "&lt;").replace(/>/g, "&gt;")
                return result;
            }
        });
        const params = new URLSearchParams(window.location.search)
        const query = params.get("q")
        let attempts = 0;
        let findInput: NodeJS.Timer
        if (query) findInput = setInterval(() => {
            attempts = attempts + 1;
            console.log('query:', attempts)
            const el = document.querySelector(".pagefind-ui__search-input") as HTMLInputElement
            if (el) {
                clearInterval(findInput)
                el.value = query
                el.dispatchEvent(new Event("input", { bubbles: true }))
            }
            if (attempts > 49) clearInterval(findInput);
        }, 25)
    });
</script>


