---
import { Breadcrumb } from 'astro-headless-ui';

const {
    hide
} = Astro.props

const props = {
    index: false,
    collapse: true,
    ...Astro.props
}
---
{ !hide &&
    <div class="breadcrumb-spacer">
        <nav class="breadcrumb" class="touch-target">
            <Breadcrumb {...props}>
                {url => (<a href={url.href[0]==='/'?url.href:'/'+url.href}>{url.text}</a><span>/</span>)}
                <active slot="active">{url => <span>{url.text}</span>}</active>
                <Fragment slot="disabled"><span>...</span><span>/</span></Fragment>
            </Breadcrumb>
        </nav>
    </div>
}

{ hide &&
    <style is:inline>
        :root {
            --breadcrumb-height: 0px;
        }
    </style>
}