---
import { DarkThemeToggle, IconSwitcher } from 'astro-headless-ui';
import { Icon } from 'astro-icon';
---

<div class="header-spacer">
    <header class="header repel">
        <a href="/" class="cluster">
            <img src="/logo.webp" alt="">
            My Project
        </a>
        <menu class="cluster">
            <DarkThemeToggle class="touch btn center circle">
                <IconSwitcher active="body.dark" size="1.25rem">
                    <Icon name="carbon:sun"/>
                    <Icon name="carbon:moon"/>
                </IconSwitcher>
            </DarkThemeToggle>
            <form action="/search?q=Test">
                <input type="text" placeholder="Search..." class="btn circle">
            </form>
        </menu>
    </header>
</div>