---
import { DarkThemeToggle, IconSwitcher } from 'astro-headless-ui';
import { Icon } from 'astro-icon';
---

<div id="__header-spacer">
    <header id="__header" class="repel">
        <a href="/" class="cluster">
            <img src="/logo.webp" alt="">
            Docs
        </a>
        <menu class="cluster">
            <DarkThemeToggle id="__toggle-theme" class="touch btn icon">
                <IconSwitcher active="body.dark" size="1.33rem">
                    <Icon name="carbon:sun"/>
                    <Icon name="carbon:moon"/>
                </IconSwitcher>
            </DarkThemeToggle>
            <form action="/docs/search" method="get">
                <input type="text" name="q" placeholder="Search..." class="btn">
            </form>
        </menu>
    </header>
</div>