---
import { Breadcrumb } from "astro-headless-ui";
---

<div class="navbar-spacer">
    <header class="navbar">
        <slot />
        <nav class="breadcrumb cluster tight" class="touch-target">
            <Breadcrumb index={false}>
                {url => (<a href={url.href[0]==='/'?url.href:'/'+url.href}>{url.text}</a><span>/</span>)}
                <active slot="active">{url => <span>{url.text}</span>}</active>
                <Fragment slot="disabled"><span>...</span><span>/</span></Fragment>
            </Breadcrumb>
        </nav>
    </header>
</div>
