---
import type { MarkdownHeading } from 'astro';
import { Icon } from 'astro-icon';
import { TableOfContents } from 'astro-headless-ui';
import { SOCIAL_ICONS } from '@/config';

export interface Props {
    headings?: MarkdownHeading[]
}

const {
    headings
} = Astro.props as Props
---

<aside id="__sidebar-right">
    {headings &&
        <details open>
            <summary class="touch">
                On This Page
                <Icon name="radix-icons:caret-up" size={24}/>
            </summary>
            <TableOfContents max={3} headings={headings.map(h => {return {...h, text: h.text.replace(/^#/g, '')}})}/>
        </details>
    }
    <ul class="cluster center">
        { SOCIAL_ICONS.map(link => {
            const { icon, color, style, ..._attrs} = link
            return <li>
                    <a {..._attrs} style={color?`color:${color};${style}`:style}>
                        <Icon name={icon} size={24}/>
                    </a>
                </li>
        })}
    </ul>
    <slot />
</aside>