---
import { Icon } from 'astro-icon';
---

<button
    id="scroll-to-top"
    class="touch-target scale"
    onclick="scrollToTop()"
    draggable="true"
>
    <Icon name="radix-icons:double-arrow-up" size={20}/>
</button>

<script is:inline>
    const button = document.querySelector('#scroll-to-top')

    window.scrollToTop = () => {
        window.scrollTo(0, 0)
        button.classList.add('success')
        if (document.body._scrolltToTopTimer) clearTimeout(document.body._scrolltToTopTimer)
        document.body._scrolltToTopTimer = setTimeout(() => button.classList.remove('success'), 250);
    }
</script>