---
export interface Props {
    href?: string
    content?: string;
    color?: string;
    bgColor?: string;
}

const {
    href = "#",
    content = "button",
    color = "highlight",
    bgColor = "highlight_dark"
} = Astro.props as Props

const classMap: {
    [key: string]: {
        [key: string]: [string, string];
    }
} = {
    text: {
        highlight: ["text-highlight", "hover:text-highlight"],
        highlight_dark: ["text-highlight_dark", "hover:text-highlight_dark"]
    },
    bg: {
        highlight: ["bg-highlight", "hover:bg-highlight"],
        highlight_dark: ["bg-highlight_dark", "hover:bg-highlight_dark"]
    }
}
--- 
<a
    href={href}
    class:list={[
        "transition-all p-2.5 rounded-3xl shadow-md",
        classMap.text[color][0],
        classMap.bg[bgColor][0],
        classMap.text[bgColor][1],
        classMap.bg[color][1],
        "hover:-translate-y-0.5 active:rounded-xl"

    ]}
>
    {content}
</a>