:root {
  scroll-padding-top: calc(var(--ui-height) + 1em);
}
body {
  display: grid;
  grid-template-rows: min-content;
  grid-template-rows: min-content min-content max-content min-content;
  grid-template-areas: "header" "navbar" "main" "footer";
  min-height: 100vh;
  height: 100%;
  margin: 0;
}
main {
  grid-area: main;
  width: 100%;
  min-width: 0px;
  max-width: var(--md-width-max);
  margin: 0 auto;
  padding: .75em;
}

.header-spacer {
  z-index: 25;
  grid-area: header;
  height: var(--header-height);
}
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  padding: 0 .75em;
  background-color: var(--bg);
  border-bottom: 2px solid var(--fg-subtle);
}

.navbar-spacer {
  z-index: 20;
  grid-area: navbar;
  height: var(--navbar-height);
}
.navbar {
  position: fixed;
  top: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: var(--navbar-height);
  width: 100%;
  gap: .25em;
  margin: 0;
  padding: 0 .75em 0 .75em;
  background-color: var(--bg);
  border-bottom: 2px solid var(--fg-subtle);
}

.sidebar-left {
  overflow-y: auto;
  grid-area: left;
  z-index: 10;
  position: fixed;
  top: var(--ui-height);
  left: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  max-height: calc(100% - var(--ui-height));
  width: var(--sidebar-left-width);
  gap: .5em;
  background-color: var(--bg);
  padding: .5em 1em;
  border-right: 2px solid var(--fg-subtle);
}

.sidebar-right {
  overflow-y: auto;
  z-index: 10;
  position: fixed;
  top: var(--ui-height);
  right: 0;
  display: none;
  height: 100%;
  max-height: calc(100% - var(--ui-height));
  width: var(--sidebar-right-width);
  gap: .5em;
  background-color: var(--bg);
}

body > footer {
  grid-area: footer;
}

@media (min-width: 748px) {
  :root {
    --ui-height: calc(var(--header-height) + var(--navbar-height));
  }

  body {
    grid-auto-columns: var(--sidebar-left-width) auto var(--sidebar-right-width);
    grid-template-rows: var(--sidebar-left-width) 100%;
    grid-template-rows: min-content min-content max-content min-content;
    grid-template-areas:
      "header header"
      "navbar navbar"
      "left main"
      "footer footer";
  }

  .sidebar-left {
    display: flex;
  }
}

@media (min-width: 1024px) {
  body {
    grid-auto-columns: var(--sidebar-left-width) auto var(--sidebar-right-width);
    grid-template-rows: var(--sidebar-left-width) 100% var(--sidebar-right-width);
    grid-template-rows: min-content min-content max-content min-content;
    grid-template-areas:
      "header header header"
      "navbar navbar navbar"
      "left main right"
      "footer footer footer";
  }

  .sidebar-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .5em;
    padding: .5em 1em;
    border-left: 2px solid var(--fg-subtle);
  }
}

.scroll-to-top {
  z-index: 15;
  position: sticky;
  bottom: .5em;
  left: 100%;
  display: grid;
  place-items: center;
  padding: 0;
  border-radius: 3px;
  border: 2px solid var(--fg-subtle);
  outline: none;
  background-color: var(--light);
  transition: transform 300ms;
}

.copy-code {
  display: inline-block;
  aspect-ratio: 1;
  display: grid;
  padding: 0;
  place-items: center;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--darker);
  font-size: var(--fluid-1);
  color: #ccc;
}