---
import { SEO } from "astro-seo";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import { SEODEFAULT } from "@/config";
import LeftSidebar from "@/components/LeftSidebar.astro";
import RightSidebar from "@/components/RightSidebar.astro";

const  {
    SEO: _SEO=SEODEFAULT(Astro)
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Header />
		<Navbar />
		<LeftSidebar>
			<slot name="sidebar-left"/>
		</LeftSidebar>
		<main>
			<slot />
		</main>
		<RightSidebar>
			<slot name="sidebar-right"/>
		</RightSidebar>
		<Footer />
		<slot name="body"/>
	</body>
</html>