---
import { SEO } from "astro-seo";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import { SEODefault } from "@/config";

const  {
	breadcrumb=true,
    SEO: _SEO=SEODefault(Astro)
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Navbar />
		<Breadcrumb hide={!breadcrumb} />
		<aside class="sidebar-left">
			<slot name="sidebar-left"/>
		</aside>
		<main>
			<slot />
		</main>
		<aside class="sidebar-right">
			<slot name="sidebar-right"/>
		</aside>
		<Footer />
		<slot name="body"/>
	</body>
</html>