---
import { SEO } from 'astro-seo';
import { Icon } from 'astro-icon'
import { Breadcrumb, CodeCopy, IconSwitch } from 'astro-headless-ui';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import ScrollToTop from '@/components/ScrollToTop.astro';
import { SEODefault } from '@/config';
import type { MarkdownLayout } from '@/types';
import '@/css/markdown.scss'

export interface Props extends MarkdownLayout {};

const  {
	frontmatter,
	headings,
    SEO: _SEO = {
        ...SEODefault(Astro)
    }
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Navbar />
		<main>
			<nav id="breadcrumb">
				<Breadcrumb collapse/>
			</nav>
			<nav id="sidebar-right">
				<TableOfContents open item='span' title="On This Page" url={Astro.url.pathname} headings={headings}/>
			</nav>
			<section class="markdown" data-pagefind-body> 
				<slot />
			</section>
		</main>
		<Footer />
		<ScrollToTop />
		<CodeCopy padding=".375em" class="copy-code">
			<IconSwitch name="copy-icons" selector="button.copied" size="1.5rem" style="margin-top:-1px">
				<Icon name="fluent:clipboard-20-regular"/>
				<Icon name="fluent:clipboard-task-20-regular"/>
			</IconSwitch>
		</CodeCopy>
		<div style="display:none;">
			<svg id="hash-link-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" id="footer-sample-full" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify iconify--eva"><path fill="currentColor" d="M20 14h-4.3l.73-4H20a1 1 0 0 0 0-2h-3.21l.69-3.81A1 1 0 0 0 16.64 3a1 1 0 0 0-1.22.82L14.67 8h-3.88l.69-3.81A1 1 0 0 0 10.64 3a1 1 0 0 0-1.22.82L8.67 8H4a1 1 0 0 0 0 2h4.3l-.73 4H4a1 1 0 0 0 0 2h3.21l-.69 3.81A1 1 0 0 0 7.36 21a1 1 0 0 0 1.22-.82L9.33 16h3.88l-.69 3.81a1 1 0 0 0 .84 1.19a1 1 0 0 0 1.22-.82l.75-4.18H20a1 1 0 0 0 0-2ZM9.7 14l.73-4h3.87l-.73 4Z"></path></svg>
		</div>
	</body>
</html>