---
import { SEO } from "astro-seo";
import { Breadcrumb } from 'astro-headless-ui';
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import { SEODefault } from "@/config";
import type { MarkdownLayout } from '@/types';
import '@/css/base.scss'

export interface Props extends MarkdownLayout {};

const  {
    frontmatter,
    SEO: _SEO = {
        ...SEODefault(Astro)
    }
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Navbar />
		<main>
			<nav style="display:flex;align-items:center;gap:.25em;margin:.5em 0;white-space:nowrap;">
				<Breadcrumb />
			</nav>
			<section data-pagefind-body> 
				<slot />
			</section>
		</main>
		<Footer />
	</body>
</html>