---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import type { SEOInterface } from '@/types';
import { SEO } from 'astro-seo';
import { Icon } from 'astro-icon'
import { CodeCopy, IconSwitcher } from 'astro-headless-ui';
import Header from '@/components/Header.astro';
import Navbar from '@/components/Navbar.astro';
import LeftSidebar from '@/components/LeftSidebar.astro';
import RightSidebar from '@/components/RightSidebar.astro';
import ScrollToTop from '@/components/ScrollToTop.astro';
import Footer from '@/components/Footer.astro';
import { SEODEFAULT } from '@/config';
import '@/css/docs.css'

export interface Props {
	frontmatter: CollectionEntry<'docs'>['data']
	headings: MarkdownHeading[]
}

const  {
	frontmatter,
	headings,
    SEO: _SEO = {
		title: frontmatter.title,
		description: frontmatter.description,
        ...SEODEFAULT(Astro)
    }
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <SEO {..._SEO}/>
        <slot name="head"/>
	</head>
	<body>
		<Header />
		<Navbar>
			<!-- { headings && <TableOfContents close item='span' title="On This Page" url={Astro.url.pathname} max={3} headings={headings}/>} -->
		</Navbar>
		<LeftSidebar>
			<slot name="sidebar-left"/>
		</LeftSidebar>
		<main class="prose" data-pagefind-body>
			<slot />
			<ScrollToTop />
		</main>
		<RightSidebar headings={headings}>
			<slot name="sidebar-right"/>
		</RightSidebar>
		<Footer />
		<CodeCopy paddingY=".5em" paddingX=".3em" class="copy-code">
			<IconSwitcher name="copy-icons" active="button.copied" size="1.5rem" style="margin-top:-1px">
				<Icon name="fluent:clipboard-20-regular"/>
				<Icon name="fluent:clipboard-task-20-regular"/>
			</IconSwitcher>
		</CodeCopy>
	</body>
</html>