h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin: 1em 0;
    font-weight: bold;
    color: var(--darker);
} h2, h3 {
    margin-left: .6em;
} h1 {
    font-size: var(--fluid-7);
} h2 {
    padding: 0 0 .25em 0;
    border-bottom: 2px solid var(--gray);
    font-size: var(--fluid-6);
} h3 {
    font-size: var(--fluid-5);
} h4 {
    font-size: var(--fluid-4);
} h5 {
    font-size: var(--fluid-3);
} h6 {
    font-size: var(--fluid-2);
}

hr {
    border: none;
    border-bottom: 2px solid var(--gray);
}

::selection {
    background: var(--primary-a);
}

p {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: var(--primary);
} a:hover {
    text-decoration: underline;
    filter: brightness(70%);
    transition: filter 100ms, transform 250ms;
} a:focus {
    text-decoration: underline;
    outline: none;
} .link-image:hover {
    text-decoration: none;
}

del {
    color: var(--invalid);
}

strong {
    font-weight: bold;
    color: var(--darker);
}

small, sub, sup, .data-footnote-backref, [aria-describedby="footnote-label"] {
    font-size: var(--fluid-0);
}

.data-footnote-backref, [aria-describedby="footnote-label"] {
    color: var(--primary);
}

mark {
    width: fit-content;
    padding: 1px 3px;
    background-color: var(--warning-a);
}

blockquote {
    display: inline-block;
    margin: .5em 0 .5em 2em;
    border-left: .25rem solid var(--gray);
} 

blockquote p {
    margin: 1em;
}

:not(pre) > code {
    vertical-align: middle;
    padding: 0 .25em;
    border-radius: 2px;
    background-color: var(--gray);
}

pre {
    overflow-x: auto;
    height: 100%;
    margin: 1em 0;
    padding: 1em;
    border-radius: 3px;
    background-color: var(--gray);
    font-size: var(--fluid-0);
}

table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: 0;
}

thead th,
thead td {
    border-bottom: 3px solid var(--gray);
}

th,
td {
    padding: .5em 1em;
    border-bottom: 1px solid var(--gray);
    text-align: left;
    text-align: start;
}

tfoot th,
tfoot td {
    border-top: 3px solid var(--gray);
    border-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}