*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:root {
    cursor: default;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    tab-size: 4;

    --primary: rgb(25, 110, 208);
    --primary-a: rgba(25, 110, 208, .25);
    --warning: #ffe135;
    --warning-a: rgba(255, 225, 53, .5);
    --invalid: #dc143c;
    --dark: #1a1a1a;
    --darker: #000;
    --grayer: #575757;
    --gray: #e8e8e8;
    --light: #fdfdfd;
    --lighter: #FFF;

    --font: 'Helvetica', 'sans-serif';

    --fluid-0: clamp(0.85rem, 0.16vw + 0.82rem, 0.97rem);
    --fluid-1: clamp(0.94rem, 0.17vw + 0.9rem, 1.06rem);
    --fluid-2: clamp(1.03rem, 0.19vw + 0.99rem, 1.17rem);
    --fluid-3: clamp(1.13rem, 0.21vw + 1.09rem, 1.29rem);
    --fluid-4: clamp(1.25rem, 0.23vw + 1.2rem, 1.41rem);
    --fluid-5: clamp(1.37rem, 0.25vw + 1.32rem, 1.56rem);
    --fluid-6: clamp(1.51rem, 0.28vw + 1.45rem, 1.71rem);
    --fluid-7: clamp(1.66rem, 0.31vw + 1.59rem, 1.88rem);
    --fluid-8: clamp(1.83rem, 0.34vw + 1.75rem, 2.07rem);
    --fluid-9: clamp(2.01rem, 0.37vw + 1.93rem, 2.28rem);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    background-color: var(--light);
    font-family: var(--font);
    line-height: 1.25;
    font-size: var(--fluid-2);
    color: var(--dark);

    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: var(--primary);
    --pagefind-ui-text: var(--dark);
    --pagefind-ui-background: var(--lighter);
    --pagefind-ui-border: var(--gray);
    --pagefind-ui-tag: var(--gray);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 3px;
    --pagefind-ui-image-border-radius: 0;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font);
}

main {
    flex: 1 0 auto;
    margin: 0;
    padding: 0 .75em;
}

input {
    font-size: inherit;
    color: inherit;
}