*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:root {
    cursor: default;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    tab-size: 4;

    --primary: rgb(25, 110, 208);
    --primary-a: rgba(25, 110, 208, .25);
    --warning: #ffe135;
    --warning-a: rgba(255, 225, 53, .5);
    --invalid: #dc143c;
    --dark: #1a1a1a;
    --darker: #000;
    --grayer: #575757;
    --gray: #e8e8e8;
    --light: #fefefe;
    --lighter: #FFF;

    --font: 'Helvetica', 'sans-serif';

    --fluid-0: clamp(0.77rem, 0.15vw + 0.74rem, 0.88rem);
    --fluid-1: clamp(0.85rem, 0.16vw + 0.81rem, 0.97rem);
    --fluid-2: clamp(0.94rem, 0.18vw + 0.9rem, 1.06rem);
    --fluid-3: clamp(1.03rem, 0.2vw + 0.99rem, 1.17rem);
    --fluid-4: clamp(1.13rem, 0.22vw + 1.08rem, 1.29rem);
    --fluid-5: clamp(1.25rem, 0.24vw + 1.19rem, 1.41rem);
    --fluid-6: clamp(1.37rem, 0.26vw + 1.31rem, 1.56rem);
    --fluid-7: clamp(1.51rem, 0.29vw + 1.44rem, 1.71rem);
}

body {
    background-color: var(--light);
    font-family: var(--font);
    line-height: 1.25;
    font-size: var(--fluid-2);
    color: var(--dark);

    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: var(--primary);
    --pagefind-ui-text: var(--dark);
    --pagefind-ui-background: var(--lighter);
    --pagefind-ui-border: var(--gray);
    --pagefind-ui-tag: var(--gray);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 3px;
    --pagefind-ui-image-border-radius: 0;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font);
}

input, button {
    font-size: inherit;
    color: inherit;
}

@font-face {
    font-family: monospace;
    src: local('Menlo');
 }