body {
    display: grid;
    grid-template-rows: min-content min-content min-content 100% min-content;
    grid-template-areas: "header" "bread" "right" "main" "footer";
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

main {
    grid-area: main;
    height: auto;
    width: 100%;
    min-width: 265px;
    max-width: 85ch;
    margin: calc(var(--ui-height) + 3.5em) auto 0 auto;
    padding: 0 .75em;
}

.markdown {
    position: relative;
}

#_sidebar-left {
    grid-area: left;
    z-index: 10;
    position: fixed;
    top: var(--ui-height);
    left: 0;
    display: none;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    width: var(--sidebar-width);
    gap: .5em;
    background-color: var(--lighter);
}

#_sidebar-right {
    grid-area: right;
    z-index: 10;
    position: fixed;
    top: calc(var(--header-height) + var(--breadcrumb-height));
    left: 0;
    display: flex;
    height: fit-content;
    width: 100%;
    gap: .5em;
    background-color: var(--lighter);
}

#_sidebar-right .table-of-contents {
    margin: .5em;
}

#_scroll-to-top {
    z-index: 11;
    position: sticky;
    bottom: .5em;
    left: 100%;
    display: grid;
    place-items: center;
    padding: 0;
    border-radius: 3px;
    border: 2px solid var(--gray);
    outline: none;
    background-color: var(--light);
    transition: transform 300ms;
}

#_scroll-to-top.success {
    transform: translateY(-.5em);
}

.copy-code {
    display: inline-block;
    aspect-ratio: 1;
    display: grid;
    padding: 0;
    place-items: center;
    border-radius: 3px;
    border: var(--grayer);
    background-color: var(--gray);
    font-size: var(--fluid-1);
    color: var(--dark);
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    position: absolute;
    right: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: .5em;
    line-height: inherit;
    font-size: var(--fluid-2);
    color: var(--gray);
}

.heading-link-icon {
    padding-left: .5em;
}

@media (min-width: 748px) {
    body {
        grid-auto-columns: var(--sidebar-width) auto var(--sidebar-width);
        grid-template-rows: min-content min-content min-content 100% min-content;
        grid-template-areas:
            "header header header"
            "bread bread bread"
            "left right right"
            "left main main"
            "footer footer footer";
    }

    main {
        min-width: 50ch;
        max-width: 100ch;
    }

    #_header {
        border-bottom: 2px solid var(--gray);
    }

    #_breadcrumb {
        border-bottom: 2px solid var(--gray);
    }

    #_sidebar-left {
        display: flex;
        height: 100%;
        padding: .5em;
        border-right: 2px solid var(--gray);
    }

    #_sidebar-right {
        left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));   
    }
}

@media (min-width: 1024px) {
    :root {
        scroll-padding-top: calc(var(--ui-height) + .75em); 
    }
    body {
        grid-template-rows: min-content min-content 100% min-content;
        grid-template-areas:
            "header header header"
            "bread bread bread"
            "left main right"
            "footer footer footer";
    }
    main {
        margin-top: var(--ui-height);
    }
    #_sidebar-right {
        top: var(--ui-height);
        left: revert;
        right: 0;
        width: var(--sidebar-width);
        height: 100%;
        padding: .5em;
        border-left: 2px solid var(--gray);
    }

    #_sidebar-right .table-of-contents {
        margin: 0;
    }
}