body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em;
}

body > header > a {
    text-decoration: none !important;
    font-size: clamp(1.13rem, 0.56vw + 1.01rem, 1.5rem);
}

body > header menu {
    display: flex;
    align-items: center;
    gap: .5em;
    margin: 0;
    padding: 0;
}

#theme-toggle {
    aspect-ratio: 1;
    outline: none;
    border-radius: 3px;
    border: none;
    outline: 2px solid var(--gray);
    background-color: transparent;
    font-size: inherit;
    color: inherit;
}

.theme-icons {
    margin-top: .25em;
}

#search-link {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    padding: .5em .75em .5em .5em;
    border-radius: 3px;
    outline: 2px solid var(--primary);
}

#breadcrumb {
    display: flex;
    align-items: center;
    gap: .25em;
    margin: 1em 0 1.5em 0;
    white-space: nowrap;
    overflow-x: hidden;
}