.remark-oembed-inline {
    margin: 1em 0;
}

.remark-oembed-you-tube {
    display: grid;
    place-items: center;
}

.remark-oembed-you-tube iframe {
    height: clamp(9.94rem, 22.21vw + 4.73rem, 22.5rem);
    width: clamp(17.56rem, 39.67vw + 8.27rem, 40rem);
    height: 9em;
    width: 16em;
    font-size: clamp(1rem, 3.73vw + 0.25rem, 3.75rem);
}

@media (min-width: 748px) {
    .remark-oembed-you-tube iframe {
        font-size: clamp(1.56rem, 3.32vw + 0.01rem, 3.13rem);
    }
}

@media (min-width: 1024px) {
    .remark-oembed-you-tube iframe {
        font-size: clamp(1.56rem, 4.2vw + -1.13rem, 2.81rem);
    }
}