.table-of-contents details {
    margin-bottom: .5em;
}


.table-of-contents details summary {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    outline: none;
    border: 2px solid var(--gray);
    border-radius: 3px;
} .table-of-contents details summary:focus {
    border-color: var(--primary);
    outline: 2px solid var(--primary-a);
} .table-of-contents details summary::marker {
    content: "";
} .table-of-contents details summary:before {
    display: block;
    float: left;
    content: ">";
    font-family: monospace;
    font-weight: bold;
    transition: transform 200ms;
}

.table-of-contents details[open] summary::before {
    transform: rotate(90deg);
}

.table-of-contents details > ul {
    display: flex;
    flex-direction: column;
    margin: .5em 0 0 0;
    padding: .75em 1em;
    border-radius: 3px;
    border: 2px solid var(--gray);
}

.table-of-contents details ul {
    list-style: none;
}