.touch-target {
    min-height: 38px;
    min-width: 38px;
}

.flex-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--fluid-0) / 2);
}

.scale {
    transition: transform 250ms;
} .scale:active {
    transform: scale(.925);
}